<section id="bets-qualifiers" permission="['ROLE_USER']">
    <h1>Set bets For qualifiers
        <small>Only you can see your bets</small>
    </h1>
    <div>
        <p>
            Here you set your qualifiers, this is your chance to gain points.<br>
            Please note that Qualifiers bets are allowed before the games begin!
        </p>
    </div>
    <div style="font-size: 11px;">

        <table class="table table-bordered">
            <tr>
                <th>Round of 16</th>
                <th>Quarter-finals</th>
                <th>Semi-finals</th>
                <th>final</th>
                <th>Semi-finals</th>
                <th>Quarter-finals</th>
                <th>Round of 16</th>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>Winner</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="info">WINNER_GROUP_C<br><select style="width: 80px;font-size: 20px;"><option data-ng-repeat="i in [1,2,3,4,5]">{{i}}</option></select></td>
                <td class="info" rowspan="2">WINNER_ROS1<br><select style="width: 80px;font-size: 20px;"><option data-ng-repeat="i in [1,2,3,4,5]">{{i}}</option></select></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td class="info" rowspan="2">WINNER_ROS3<br><select style="width: 80px;font-size: 20px;"><option data-ng-repeat="i in [1,2,3,4,5]">{{i}}</option></select></td>
                <td class="info">WINNER_GROUP_B<br><select style="width: 80px;font-size: 20px;"><option data-ng-repeat="i in [1,2,3,4,5]">{{i}}</option></select></td>
            </tr>
            <tr>
                <td class="info">RUNNER_UP_GROUP_D<br><select style="width: 80px;font-size: 20px;"><option data-ng-repeat="i in [1,2,3,4,5]">{{i}}</option></select></td>
                <td class="info" rowspan="3">WINNER_QF1<br><select style="width: 80px;font-size: 20px;"><option data-ng-repeat="i in [1,2,3,4,5]">{{i}}</option></select></td>
                <td>&nbsp;</td>
                <td class="info" rowspan="3">WINNER_QF3<br><select style="width: 80px;font-size: 20px;"><option data-ng-repeat="i in [1,2,3,4,5]">{{i}}</option></select></td>
                <td class="info">RUNNER_UP_GROUP_A<br><select style="width: 80px;font-size: 20px;"><option data-ng-repeat="i in [1,2,3,4,5]">{{i}}</option></select></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td class="info" rowspan="7">
                    WINNER_SF1
                    <br><select style="width: 80px;font-size: 20px;"><option data-ng-repeat="i in [1,2,3,4,5]">{{i}}</option></select>
                    <br>
                    WINNER_SF2
                    <br><select style="width: 80px;font-size: 20px;"><option data-ng-repeat="i in [1,2,3,4,5]">{{i}}</option></select>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="info">WINNER_GROUP_A<br><select style="width: 80px;font-size: 20px;"><option data-ng-repeat="i in [1,2,3,4,5]">{{i}}</option></select></td>
                <td class="info" rowspan="2">WINNER_ROS2<br><select style="width: 80px;font-size: 20px;"><option data-ng-repeat="i in [1,2,3,4,5]">{{i}}</option></select></td>
                <td class="info" rowspan="2">WINNER_ROS4<br><select style="width: 80px;font-size: 20px;"><option data-ng-repeat="i in [1,2,3,4,5]">{{i}}</option></select></td>
                <td class="info">WINNER_GROUP_D<br><select style="width: 80px;font-size: 20px;"><option data-ng-repeat="i in [1,2,3,4,5]">{{i}}</option></select></td>
            </tr>
            <tr>
                <td class="info">RUNNER_UP_GROUP_B<br><select style="width: 80px;font-size: 20px;"><option data-ng-repeat="i in [1,2,3,4,5]">{{i}}</option></select></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td class="info">RUNNER_UP_GROUP_C<br><select style="width: 80px;font-size: 20px;"><option data-ng-repeat="i in [1,2,3,4,5]">{{i}}</option></select></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="info">WINNER_GROUP_E<br><select style="width: 80px;font-size: 20px;"><option data-ng-repeat="i in [1,2,3,4,5]">{{i}}</option></select></td>
                <td class="info" rowspan="2">WINNER_ROS5<br><select style="width: 80px;font-size: 20px;"><option data-ng-repeat="i in [1,2,3,4,5]">{{i}}</option></select></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td class="info" rowspan="2">WINNER_ROS7<br><select style="width: 80px;font-size: 20px;"><option data-ng-repeat="i in [1,2,3,4,5]">{{i}}</option></select></td>
                <td class="info">WINNER_GROUP_F<br><select style="width: 80px;font-size: 20px;"><option data-ng-repeat="i in [1,2,3,4,5]">{{i}}</option></select></td>
            </tr>
            <tr>
                <td class="info">RUNNER_UP_GROUP_F<br><select style="width: 80px;font-size: 20px;"><option data-ng-repeat="i in [1,2,3,4,5]">{{i}}</option></select></td>
                <td class="info" rowspan="3">WINNER_QF2<br><select style="width: 80px;font-size: 20px;"><option data-ng-repeat="i in [1,2,3,4,5]">{{i}}</option></select></td>
                <td class="info" rowspan="3">WINNER_QF4<br><select style="width: 80px;font-size: 20px;"><option data-ng-repeat="i in [1,2,3,4,5]">{{i}}</option></select></td>
                <td class="info">RUNNER_UP_GROUP_E<br><select style="width: 80px;font-size: 20px;"><option data-ng-repeat="i in [1,2,3,4,5]">{{i}}</option></select></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="info">WINNER_GROUP_G<br><select style="width: 80px;font-size: 20px;"><option data-ng-repeat="i in [1,2,3,4,5]">{{i}}</option></select></td>
                <td class="info" rowspan="2">WINNER_ROS6<br><select style="width: 80px;font-size: 20px;"><option data-ng-repeat="i in [1,2,3,4,5]">{{i}}</option></select></td>
                <td>&nbsp;</td>
                <td class="info" rowspan="2">WINNER_ROS8<br><select style="width: 80px;font-size: 20px;"><option data-ng-repeat="i in [1,2,3,4,5]">{{i}}</option></select></td>
                <td class="info">WINNER_GROUP_H<br><select style="width: 80px;font-size: 20px;"><option data-ng-repeat="i in [1,2,3,4,5]">{{i}}</option></select></td>
            </tr>
            <tr>
                <td class="info">RUNNER_UP_GROUP_H<br><select style="width: 80px;font-size: 20px;"><option data-ng-repeat="i in [1,2,3,4,5]">{{i}}</option></select></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td class="info">RUNNER_UP_GROUP_G<br><select style="width: 80px;font-size: 20px;"><option data-ng-repeat="i in [1,2,3,4,5]">{{i}}</option></select></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>Third Place</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th>Round of 16</th>
                <th>Quarter-finals</th>
                <th>Semi-finals</th>
                <th>final</th>
                <th>Semi-finals</th>
                <th>Quarter-finals</th>
                <th>Round of 16</th>
            </tr>
        </table>
    </div>
</section>