
<div class="panel panel-default" ng-repeat="(confederation,teams) in confederation">


    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" ng-src="/images/confederations/{{confederation | spaceToUnderscore}}.jpg"/>
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading">{{confederation | underscoreToSpace | capitalize}}</h2>
            <!-- Table -->
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Team</th>
                    <th scope="col">Ranking</th>
                    <th scope="col">Titles Won</th>
                    <th scope="col">World Cup Appearances</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="team in teams">
                    <th><h4><team data="team"/></h4></th>
                    <td>{{team.fifaRanking}}</td>
                    <td>{{team.titles}}</td>
                    <td>{{team.appearances}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
