
<table class="table">
    <thead>
    <tr>
        <th scope="col">Team</th>
        <th scope="col">
            <button ng-click="sortBy('fifaRanking')">Ranking</button>
            <span class="sortorder" ng-show="propertyName === 'fifaRanking'" ng-class="{reverse: reverse}"></span>
        </th>
        <th scope="col">
            <button ng-click="sortBy('titles')">Titles Won</button>
            <span class="sortorder" ng-show="propertyName === 'titles'" ng-class="{reverse: reverse}"></span>
        </th>
        <th scope="col">
            <button ng-click="sortBy('appearances')">World Cup Appearances</button>
            <span class="sortorder" ng-show="propertyName === 'appearances'" ng-class="{reverse: reverse}"></span>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="team in teams | orderBy:propertyName:reverse">
        <th><h4><team data="team"/></h4></th>
        <td>{{team.fifaRanking}}</td>
        <td>{{team.titles}}</td>
        <td>{{team.appearances}}</td>
    </tr>
    </tbody>
</table>