
<table class="table">
    <thead>
    <tr>
        <th scope="col">Team</th>
        <th scope="col">
            <button class="btn btn-link" ng-click="sortBy('fifaRanking')">Ranking
                <span class="sortorder" ng-show="propertyName === 'fifaRanking'" ng-class="{reverse: reverse}"></span>
            </button>
        </th>
        <th scope="col">
            <button class="btn btn-link" ng-click="sortBy('titles')">Titles
                <span class="sortorder" ng-show="propertyName === 'titles'" ng-class="{reverse: reverse}"></span>
            </button>
        </th>
        <th scope="col">
            <button class="btn btn-link" ng-click="sortBy('appearances')">Appearances
                <span class="sortorder" ng-show="propertyName === 'appearances'" ng-class="{reverse: reverse}"></span>
            </button>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="team in teams | orderBy:propertyName:reverse">
        <th><h5><team data="team"/></h5></th>
        <td>{{team.fifaRanking}}</td>
        <td>{{team.titles}}</td>
        <td>{{team.appearances}}</td>
    </tr>
    </tbody>
</table>