
<div class="panel panel-default" style="margin-left: 10px; "
     ng-repeat="match in matches | orderBy: 'kickoff'">
  <table class="table table-condensed">
   <tr>
     <td>#{{match.matchId}}, {{match.stageId}} {{match.groupId}}, <b>{{match.kickoff | date : 'MMM d, HH:mm'}}</b></td>
     <td class="text-right"><match-links data="match"/></td>
   </tr>
  <tr>
    <td><team data="match.homeTeam"/></td>
    <td class="text-right"><b>{{match.result.homeTeamGoals}}</b></td>
  </tr>
   <tr>
     <td><team data="match.awayTeam"/></td>
     <td class="text-right"><b>{{match.result.awayTeamGoals}}</b></td>
   </tr>
  </table>
</div>
