<section id="bets">
    <div>
        <h1>Bets
            <small>All</small>
        </h1>

    </div>

    <div class="panel" ui-view>

        <div ng-repeat="bet in bets">

            <div class="row table-bordered table-hover" data-toggle="collapse" data-target="#bet-{{bet.id}}-data">
                <div class="col-md-2">{{bet.match.stage}}</div>
                <div class="col-md-2">{{bet.match.kickoff | date : 'MMM d, yyyy - h:mm a' }}</div>
                <div class="col-md-2"><team data="bet.match.homeTeam"/></div>
                <div class="col-md-2">vs</div>
                <div class="col-md-2"><team data="bet.match.awayTeam"/></div>
            </div>

            <div id="bet-{{bet.id}}-data" class="collapse">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Result</th>
                        <th>Bet</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="resultHomeTeamGoals">Home team Goals</label>
                                <input type="number" class="form-control" id="resultHomeTeamGoals"
                                       ng-model="bet.match.result.homeTeamGoals" readonly>
                            </div>
                            <div class="form-group">
                                <label for="resultAwayTeamGoals">Home team Goals</label>
                                <input type="number" class="form-control" id="resultAwayTeamGoals"
                                       ng-model="bet.match.result.awayTeamGoals" readonly>
                            </div>
                            <div class="form-group">
                                <label for="resultQualifier">Qualifier</label>
                                <input type="text" class="form-control" id="resultQualifier"
                                       ng-model="bet.match.result.qualifier" readonly>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="betHomeTeamGoals">Home team Goals</label>
                                <input type="number" class="form-control" id="betHomeTeamGoals">
                            </div>
                            <div class="form-group">
                                <label for="betAwayTeamGoals">Home team Goals</label>
                                <input type="number" class="form-control" id="betAwayTeamGoals">
                            </div>
                            <div class="form-group">
                                <label for="betQualifier">Qualifier</label>
                                <input type="text" class="form-control" id="betQualifier">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>