
html {
    min-height: 100%;
}

body {
    min-height: 500px;
    padding-top: 70px;
    background: #fff url(/images/bg.jpg) repeat-x center 0;
}

.main {
    background-color: #fff;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.navbar-fixed-top {
    min-height: 60px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 60px;
}

.navbar-brand {
    line-height: 33px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;}
}

.nav-tabs {
    padding: 10px 0 10px 0;
}

.flag {
    width: 48px;
    height: 32px;
    border: 1px solid #c7c6c6;
}






