
/*
body {
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    line-height: 1.54;
    color: #666;
}

a {
    color: #0087e6;
}

a:visited, a:visited * {
    text-decoration: none;
}

ol, ul {
    list-style: none;
}
*/
/*
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.nav > li {
    position: relative;
    display: block;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav:before, .nav:after {
    content: " ";
    display: table;
}

.nav-pills > li {
    float: left;
}

.nav-pills>li>a {
    border-radius: 0;
}

.nav-pills > li + li {
    margin-left: 0;
}

.nav-pills > li + li {
    margin-left: 2px;
}
*/

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.small-cell {
    display: table-cell;
    width: 3.125%;
}



.navbar-pageheader li {
    margin-left: 0;
}

.navbar-pageheader li > a {
    color: #0087e6;
    padding: 9px 15px 8px;
    margin-bottom: -3px;
    border-bottom: 3px solid transparent;
}

.navbar-pageheader li>a {
    color: #0087e6;
    padding: 9px 15px 8px;
    margin-bottom: -3px;
    border-bottom: 3px solid transparent;
}

.navbar-pageheader.navbar-fixed-top .container .nav {
    float: left;
}

.navbar-pageheader li.active>a, .navbar-pageheader li.active>a:hover, .navbar-pageheader li>a:hover, .navbar-pageheader li.active>a:focus, .navbar-pageheader li>a:focus {
    color: #0087e6;
    background-color: transparent;
}

.matchlist-header ul li a .matchday-item .match-dot-container.matches-4 {
    padding: 6px;
}

.navbar-matchlistheader .container .inner .matchlist-header ul li+li+li:before {
    background-color: #9ec9e3;
}

.navbar-matchlistheader .container .inner .matchlist-header ul li+li+li:before {
    content: "";
    display: block;
    width: 1px;
    height: 30px;
    background-color: #5cace5;
    position: absolute;
    left: -1px;
    top: 7px;
    z-index: 1;
}

.navbar-matchlistheader .container .inner .matchlist-header ul li+li+li:after {
    content: "";
    display: block;
    width: 1px;
    height: 14px;
    background-color: #d9d9d9;
    position: absolute;
    left: -1px;
    bottom: 3px;
    z-index: 1;
}

.navbar-matchlistheader .container .inner .matchlist-header {
    border: 1px solid #9ec9e3;
}

.navbar-matchlistheader .container .inner .matchlist-header {
    border: 1px solid #5cace5;
}

.navbar-matchlistheader .container .inner .matchlist-header ul {
    height: 62px;
    padding-left: 1px;
}

.navbar-matchlistheader .container .inner .matchlist-header ul li {
    float: left;
    text-align: center;
    margin: 0;
    background-color: #f2f2f2;
    height: 62px;
}

.navbar-matchlistheader .container .inner .matchlist-header ul li a, .navbar-matchlistheader .container .inner .matchlist-header ul li .restday-wrap {
    padding: 0;
    background-color: #fff;
    display: block;
    height: 62px;
    margin-left: -1px;
}

.navbar-matchlistheader .container .inner .matchlist-header ul li a .day-literal, .navbar-matchlistheader .container .inner .matchlist-header ul li .restday-wrap .day-literal {
    display: block;
    text-transform: capitalize;
    font-size: 10px;
    line-height: 21px;
}

.navbar-matchlistheader .container .inner .matchlist-header ul li a .day, .navbar-matchlistheader .container .inner .matchlist-header ul li .restday-wrap .day {
    color: #666;
    display: block;
    line-height: 15px;
    margin-bottom: 6px;
}

.navbar-matchlistheader .container .inner .matchlist-header ul li a .matchday-item, .navbar-matchlistheader .container .inner .matchlist-header ul li .restday-wrap .matchday-item {
    background-color: #f2f2f2;
    height: 20px;
}

.navbar-matchlistheader .container .inner .matchlist-header ul li.restday {
    background-color: #fff;
    color: #ccc;
}

.navbar-matchlistheader .container .inner .matchlist-header ul li.restday .day {
    color: #ccc;
}

.navbar-matchlistheader .container .inner .matchlist-header ul li.restday .matchday-item {
    background-color: #fff;
}

.navbar-matchlistheader .container .inner .matchlist-header ul li a .matchday-item .match-dot-container .match-dot, .navbar-matchlistheader .container .inner .matchlist-header ul li .restday-wrap .matchday-item .match-dot-container .match-dot {
    color: #0087e6;
    display: inline-block;
    width: 5px;
    height: 5px;
    position: relative;
    margin-top: 8px;
}

/*
.navbar-matchlistheader .container .inner .matchlist-header ul li a:hover {
    background-color: #0087e6;
}
*/

.navbar-matchlistheader .container .inner .matchlist-header ul li + li + li:before {
    background-color: #9ec9e3;
}

.navbar-matchlistheader .container .inner .matchlist-header ul li + li + li:before {
    content: "";
    display: block;
    width: 1px;
    height: 30px;
    background-color: #5cace5;
    position: absolute;
    left: -1px;
    top: 7px;
    z-index: 1;
}

.navbar-matchlistheader.navbar-fixed-top .container .nav {
    float: none;
}

.navbar-matchlistheader .container .inner .matchlist-header ul li + li + li:after {
    content: "";
    display: block;
    width: 1px;
    height: 14px;
    background-color: #d9d9d9;
    position: absolute;
    left: -1px;
    bottom: 3px;
    z-index: 1;
}

.navbar-matchlistheader .container .inner .matchlist-header ul li a .matchday-item .match-dot-container .match-dot:before, .navbar-matchlistheader .container .inner .matchlist-header ul li .restday-wrap .matchday-item .match-dot-container .match-dot:before {
    font-size: 16px;
    content: "\2022";
    display: block;
    width: 7px;
    height: 7px;
    position: absolute;
    top: 0;
    left: 0;
}

.navbar-matchlistheader .container .inner .matchlist-header:before, .navbar-matchlistheader .container .inner .matchlist-header:after {
    content: " ";
    display: table;
}

.navbar-matchlistheader .container .inner .matchlist-header ul li a .matchday-item .match-dot-container.matches-4, .navbar-matchlistheader .container .inner .matchlist-header ul li .restday-wrap .matchday-item .match-dot-container.matches-4 {
    padding: 4px 8px 0;
}

.navbar-matchlistheader .container .inner .matchlist-header ul li a .matchday-item .match-dot-container, .navbar-matchlistheader .container .inner .matchlist-header ul li .restday-wrap .matchday-item .match-dot-container {
    line-height: 4px;
    text-align: center;
}

.navbar-matchlistheader .container .inner .matchlist-header ul li a .matchday-item .match-dot-container.matches-4 .match-dot, .navbar-matchlistheader .container .inner .matchlist-header ul li .restday-wrap .matchday-item .match-dot-container.matches-4 .match-dot {
    margin-top: 0;
}

.navbar-matchlistheader .container .inner .matchlist-header ul:before, .navbar-matchlistheader .container .inner .matchlist-header ul:after {
    content: " ";
    display: table;
}

