<div class="jumbotron">
  <h3>Login Here!</h3>

  <div class="row">
    <div class="col-md-6">

      <form  role="form" ng-submit="login()">

        <div style="margin-bottom: 25px" class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input class="form-control" type="email"  name="username" id="login-username" placeholder="email" ng-model="credentials.username" required />
        </div>

        <div style="margin-bottom: 25px" class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input class="form-control" type="password"  name="password" id="login-password" placeholder="password" ng-model="credentials.password" required />
        </div>

        <div class="input-group">
          <div class="checkbox">
            <label>
              <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
            </label>
          </div>
        </div>

        <div style="margin-top:10px" class="form-group">
            <input class="btn btn-success" type="submit" name="loginBtn" value="Login">
        </div>

        <div class="form-group">
          <div class="col-md-12 control" style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
            <div style="float:left;">Don't have an account! <a href="#/join/">Join Here</a></div>
            <div style="float:right;"><a href="#/email-validation">Forgot password?</a> <a href="#/email-validation">Need new activation?</a></div>
          </div>
        </div>

      </form>


    </div>
  </div>
</div>

