<table class="table table-condensed">
    <tbody>
    <tr ng-repeat="match in matches">
        <td class="col-md-1">
            <div><b>{{match.stage}}</b></div>
            <div>{{match.kickoff | date : 'MMM d, h:mm a'}}</div>
        </td>
        <td class="col-md-2">
            <h2><team data="match.homeTeam"/></h2>
        </td>
        <td class="col-md-2 text-center">
            <h1>{{match.result.homeTeamGoals}} : {{match.result.awayTeamGoals}}</h1>
        </td>
        <td class="col-md-2">
            <h2><team data="match.awayTeam"/></h2>
        </td>
    </tr>
    </tbody>
</table>