<div class="navbar-matchlistheader">
    <div class="container">
        <div class="module">
            <div class="inner">
                <div class="matchlist-header">
                    <div class="hidden secondStageDate">20180630 </div>
                    <ul class="nav nav-pills" data-require="matchlistheader" data-loaded="true">
                        <li class="hidden small-cell">
                            <a href="#matchesFakelink" data-ref="#matchesFakelink" class="hidden hidden hidden hidden hidden" model-ref="#matchesFakelink">
                                <span>Matches</span>
                            </a>
                        </li>
                        <li title="Thursday 14 June" data-tournamentdate="20180614" class="small-cell">
                            <a href="#20180614" data-ref="#20180614" class="" model-ref="#20180614">
                                <span class="day-literal">Thu</span>
                                <span class="day">14</span>
                                <div class="matchday-item">
                                    <div class="match-dot-container matches-1">
                                        <span class="match-dot"> </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li title="Friday 15 June" data-tournamentdate="20180615" class="small-cell">
                            <a href="#20180615" data-ref="#20180615" class="" model-ref="#20180615">
                                <span class="day-literal">Fri</span>
                                <span class="day">15</span>
                                <div class="matchday-item">
                                    <div class="match-dot-container matches-3">
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li title="Saturday 16 June" data-tournamentdate="20180616" class="small-cell">
                            <a href="#20180616" data-ref="#20180616" class="" model-ref="#20180616">
                                <span class="day-literal">Sat</span>
                                <span class="day">16</span>
                                <div class="matchday-item">
                                    <div class="match-dot-container matches-4">
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li title="Sunday 17 June" data-tournamentdate="20180617" class="small-cell">
                            <a href="#20180617" data-ref="#20180617" class="" model-ref="#20180617">
                                <span class="day-literal">Sun</span>
                                <span class="day">17</span>
                                <div class="matchday-item">
                                    <div class="match-dot-container matches-3">
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li title="Monday 18 June" data-tournamentdate="20180618" class="small-cell">
                            <a href="#20180618" data-ref="#20180618" class="" model-ref="#20180618">
                                <span class="day-literal">Mon</span>
                                <span class="day">18</span>
                                <div class="matchday-item">
                                    <div class="match-dot-container matches-3">
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li title="Tuesday 19 June" data-tournamentdate="20180619" class="small-cell">
                            <a href="#20180619" data-ref="#20180619" class="" model-ref="#20180619">
                                <span class="day-literal">Tue</span>
                                <span class="day">19</span>
                                <div class="matchday-item">
                                    <div class="match-dot-container matches-3">
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li title="Wednesday 20 June" data-tournamentdate="20180620" class="small-cell">
                            <a href="#20180620" data-ref="#20180620" class="" model-ref="#20180620">
                                <span class="day-literal">Wed</span>
                                <span class="day">20</span>
                                <div class="matchday-item">
                                    <div class="match-dot-container matches-3">
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li title="Thursday 21 June" data-tournamentdate="20180621" class="small-cell">
                            <a href="#20180621" data-ref="#20180621" class="" model-ref="#20180621">
                                <span class="day-literal">Thu</span>
                                <span class="day">21</span>
                                <div class="matchday-item">
                                    <div class="match-dot-container matches-3">
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li title="Friday 22 June" data-tournamentdate="20180622" class="small-cell">
                            <a href="#20180622" data-ref="#20180622" class="" model-ref="#20180622">
                                <span class="day-literal">Fri</span>
                                <span class="day">22</span>
                                <div class="matchday-item">
                                    <div class="match-dot-container matches-3">
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li title="Saturday 23 June" data-tournamentdate="20180623" class="small-cell">
                            <a href="#20180623" data-ref="#20180623" class="" model-ref="#20180623">
                                <span class="day-literal">Sat</span>
                                <span class="day">23</span>
                                <div class="matchday-item">
                                    <div class="match-dot-container matches-3">
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li title="Sunday 24 June" data-tournamentdate="20180624" class="small-cell">
                            <a href="#20180624" data-ref="#20180624" class="" model-ref="#20180624">
                                <span class="day-literal">Sun</span>
                                <span class="day">24</span>
                                <div class="matchday-item">
                                    <div class="match-dot-container matches-3">
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li title="Monday 25 June" data-tournamentdate="20180625" class="small-cell">
                            <a href="#20180625" data-ref="#20180625" class="" model-ref="#20180625">
                                <span class="day-literal">Mon</span>
                                <span class="day">25</span>
                                <div class="matchday-item">
                                    <div class="match-dot-container matches-4">
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li title="Tuesday 26 June" data-tournamentdate="20180626" class="small-cell">
                            <a href="#20180626" data-ref="#20180626" class="" model-ref="#20180626">
                                <span class="day-literal">Tue</span>
                                <span class="day">26</span>
                                <div class="matchday-item">
                                    <div class="match-dot-container matches-4">
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li title="Wednesday 27 June" data-tournamentdate="20180627" class="small-cell">
                            <a href="#20180627" data-ref="#20180627" class="" model-ref="#20180627">
                                <span class="day-literal">Wed</span>
                                <span class="day">27</span>
                                <div class="matchday-item">
                                    <div class="match-dot-container matches-4">
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li title="Thursday 28 June" data-tournamentdate="20180628" class="small-cell">
                            <a href="#20180628" data-ref="#20180628" class="" model-ref="#20180628">
                                <span class="day-literal">Thu</span>
                                <span class="day">28</span>
                                <div class="matchday-item">
                                    <div class="match-dot-container matches-4">
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li title="Friday 29 June" data-tournamentdate="20180629" class="restday small-cell">
                            <div class="restday-wrap">
                                <span class="day-literal">Fri</span>
                                <span class="day">29</span>
                                <div class="matchday-item restday"> </div>
                            </div>
                        </li>
                        <li title="Saturday 30 June" data-tournamentdate="20180630" class="small-cell">
                            <a href="#20180630" data-ref="#20180630" class="" model-ref="#20180630">
                                <span class="day-literal">Sat</span>
                                <span class="day">30</span>
                                <div class="matchday-item">
                                    <div class="match-dot-container matches-2">
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li title="Sunday 01 July" data-tournamentdate="20180701" class="small-cell">
                            <a href="#20180701" data-ref="#20180701" class="" model-ref="#20180701">
                                <span class="day-literal">Sun</span>
                                <span class="day">01</span>
                                <div class="matchday-item">
                                    <div class="match-dot-container matches-2">
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li title="Monday 02 July" data-tournamentdate="20180702" class="small-cell">
                            <a href="#20180702" data-ref="#20180702" class="" model-ref="#20180702">
                                <span class="day-literal">Mon</span>
                                <span class="day">02</span>
                                <div class="matchday-item">
                                    <div class="match-dot-container matches-2">
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li title="Tuesday 03 July" data-tournamentdate="20180703" class="small-cell">
                            <a href="#20180703" data-ref="#20180703" class="" model-ref="#20180703">
                                <span class="day-literal">Tue</span>
                                <span class="day">03</span>
                                <div class="matchday-item">
                                    <div class="match-dot-container matches-2">
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li title="Wednesday 04 July" data-tournamentdate="20180704" class="restday small-cell">
                            <div class="restday-wrap">
                                <span class="day-literal">Wed</span>
                                <span class="day">04</span>
                                <div class="matchday-item restday"> </div>
                            </div>
                        </li>
                        <li title="Thursday 05 July" data-tournamentdate="20180705" class="restday small-cell">
                            <div class="restday-wrap">
                                <span class="day-literal">Thu</span>
                                <span class="day">05</span>
                                <div class="matchday-item restday"> </div>
                            </div>
                        </li>
                        <li title="Friday 06 July" data-tournamentdate="20180706" class="small-cell">
                            <a href="#20180706" data-ref="#20180706" class="" model-ref="#20180706">
                                <span class="day-literal">Fri</span>
                                <span class="day">06</span>
                                <div class="matchday-item">
                                    <div class="match-dot-container matches-2">
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li title="Saturday 07 July" data-tournamentdate="20180707" class="small-cell">
                            <a href="#20180707" data-ref="#20180707" class="" model-ref="#20180707">
                                <span class="day-literal">Sat</span>
                                <span class="day">07</span>
                                <div class="matchday-item">
                                    <div class="match-dot-container matches-2">
                                        <span class="match-dot"> </span>
                                        <span class="match-dot"> </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li title="Sunday 08 July" data-tournamentdate="20180708" class="restday small-cell">
                            <div class="restday-wrap">
                                <span class="day-literal">Sun</span>
                                <span class="day">08</span>
                                <div class="matchday-item restday"> </div>
                            </div>
                        </li>
                        <li title="Monday 09 July" data-tournamentdate="20180709" class="restday small-cell">
                            <div class="restday-wrap">
                                <span class="day-literal">Mon</span>
                                <span class="day">09</span>
                                <div class="matchday-item restday"> </div>
                            </div>
                        </li>
                        <li title="Tuesday 10 July" data-tournamentdate="20180710" class="small-cell">
                            <a href="#20180710" data-ref="#20180710" class="" model-ref="#20180710">
                                <span class="day-literal">Tue</span>
                                <span class="day">10</span>
                                <div class="matchday-item">
                                    <div class="match-dot-container matches-1">
                                        <span class="match-dot"> </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li title="Wednesday 11 July" data-tournamentdate="20180711" class="small-cell">
                            <a href="#20180711" data-ref="#20180711" class="" model-ref="#20180711">
                                <span class="day-literal">Wed</span>
                                <span class="day">11</span>
                                <div class="matchday-item">
                                    <div class="match-dot-container matches-1">
                                        <span class="match-dot"> </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li title="Thursday 12 July" data-tournamentdate="20180712" class="restday small-cell">
                            <div class="restday-wrap">
                                <span class="day-literal">Thu</span>
                                <span class="day">12</span>
                                <div class="matchday-item restday"> </div>
                            </div>
                        </li>
                        <li title="Friday 13 July" data-tournamentdate="20180713" class="restday small-cell">
                            <div class="restday-wrap">
                                <span class="day-literal">Fri</span>
                                <span class="day">13</span>
                                <div class="matchday-item restday"> </div>
                            </div>
                        </li>
                        <li title="Saturday 14 July" data-tournamentdate="20180714" class="small-cell">
                            <a href="#20180714" data-ref="#20180714" class="" model-ref="#20180714">
                                <span class="day-literal">Sat</span>
                                <span class="day">14</span>
                                <div class="matchday-item">
                                    <div class="match-dot-container matches-1">
                                        <span class="match-dot"> </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li title="Sunday 15 July" data-tournamentdate="20180715" class="small-cell">
                            <a href="#20180715" data-ref="#20180715" class="" model-ref="#20180715">
                                <span class="day-literal">Sun</span>
                                <span class="day">15</span>
                                <div class="matchday-item">
                                    <div class="match-dot-container matches-1">
                                        <span class="match-dot"> </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>